@model IEnumerable<CrossConvo.Models.Post>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/PageExplorer.css">
    <script src="~/js/switch_theme.js"></script>
    <title>Explorer Page</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    

    <header>
        <h1>Explorer</h1>
        <h3>Recherche</h3>

        <form action="~/Utilisateurs/Search" method="POST">
            <input type="text" name="searchName" id="searchName" placeholder="Rechercher..." />
            <input type="submit" value="Rechercher" />
        </form>
    </header>
    <div class="container">

        <div class="gallery">
            
                @foreach (var item in Model)
                {
                    <div class="image">
                        <img src="~/img/home/hiking.jpg" alt="Image 1">
                        <p>@Html.DisplayFor(modelItem => item.Likes)</p>
                    <a href="~/Home/Profil/@item.UtilisateurId"><h5><b>Titre : </b>@Html.DisplayFor(modelItem => item.Utilisateur.Nom)</h5></a>
                        
                        <button onclick="incrementLikes()">Like</button>



                    </div>


                @foreach( var ite in Model)
                {
                    <a href="~/Home/Details/@ite.UtilisateurId">try</a>
                    
                }


            }
        </div>
    </div>




    </main>
    <script src="~/js/lightbox-plus-jquery.js"></script>

    <script>
        function incrementLikes() {
            // Use AJAX to call the method in the controller
            $.ajax({
                url: '@Url.Action("IncrementLikes", "HomeController")', // Replace with your controller and action names
                type: 'GET',
                success: function () {
                    // Reload the page to update the like count
                    location.reload();
                },
                error: function () {
                    // Handle error if any
                    alert('Error incrementing likes.');
                }
            });
        }
    </script>
</body>
</html>