<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style='color:red;'>
        <span class='glyphicon glyphicon-cog'>
        </span> Administration <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" id="admin-menu">
        <li class="dropdown-header">Section Gestion</li>
        <li><a href="~/Groupes/Index">Gestion des Groupes</a></li>
        <li><a href="~/Utilisateurs/Index">Gestion des Utilisateurs</a></li>
        <li><a href="~/Amis/Index">Gestion des Amis</a></li>
        <li><a href="~/Posts/Index">Gestion des Posts</a></li>
    </ul>
</li>
<style>

</style>