<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RéseauSocialApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <header>
        <div class="titre-bar">
            <h2 class="titre">CrossConvo</h2>
        </div>
        <div class="col-md-3 sidebar">
            <div class="wrapper">
                <div class="sidebar">
                    <ul>
                        <li><a class="" asp-area="" asp-controller="" asp-action=""><i class="fas fa-home"></i></a></li>
                        <li><a class="" asp-area="" asp-controller="Account" asp-action="Login"><i class="fas fa-user"></i></a></li>
                        <li><a class="" asp-area="" asp-controller="" asp-action=""><i class="fas fa-blog"></i></a></li>
                        <li><a class="" asp-area="" asp-controller="" asp-action=""><i class="fas fa-bell"></i></a></li>
                        <li><a class="" asp-area="" asp-controller="Home" asp-action="ExplorerPage"><i class="fas fa-cog"></i></a></li>
                        <div class="dropdown">
                        <li><a class="dropbtn" asp-area="" asp-controller="Home" asp-action="Admin"><i class="fas fa-hard-hat"></i></a></li>
                        <div class="dropdown-content">
                            <ul>
                                <li><a href="~/Groupes/Index">Gestion des Groupes</a></li>
                                <li><a href="~/Utilisateurs/Index">Gestion des Utilisateurs</a></li>
                                <li><a href="~/Amis/Index">Gestion des Amis</a></li>
                                <li><a href="~/Posts/Index">Gestion des Posts</a></li>
                                <li><a href="~/Commentaires/Index">Gestion des Commentaires</a></li>
                                <li><a href="~/GroupeUtilisateurs/Index">***Gestion des GU***</a></li>
                            </ul>
                        </div>
                </div>
                </ul>
                <ul class="connexion">
                        @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

                        @{
                            string connection = null;
                            string userName = HttpContextAccessor.HttpContext.Session.GetString("userName");
                        }
                        @if (connection != null || !string.IsNullOrEmpty(userName))
                        {
                        <li style="padding-bottom: 25px;padding-top: 0; margin-top: 0;">
                                @Html.ActionLink("", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                            <a class="" asp-area="" asp-controller="" asp-action=""><i class="fas fa-sign-in-alt"></i></a>
                        </li>
                        }
                        else
                        {
                        <li style="padding-bottom: 25px;padding-top: 0; margin-top: 0;">
                                @Html.ActionLink("", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            <a class="" asp-area="" asp-controller="" asp-action=""><i class="fas fa-sign-out-alt"></i></a>
                        </li>
                        }
                </ul>
            </div>
        </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
