* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: flex-start;
    background-color: #333; /* Set a background color for the header */
    color: #fff; /* Set text color for the header */
    padding: 10px;
}

.container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

/* Style the form */
form {
    margin-bottom: 20px;
}

/* Style the input fields */
input[type="text"], input[type="submit"] {
    padding: 10px;
    margin-right: 10px;
}

/* Style the entity cards */
.entity-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #808693;
}

/* Style the post container */
.post-container {
    margin-top: 10px;
}

/* Style the posts */
.post {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #646C7D;
}

/* Style the comment container */
.comment-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

/* Style the comment */
.comment {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

/* Style the comment form */
#commentForm {
    margin-top: 10px;
}

/* Style the view comments button */
.view-comments-btn {
    cursor: pointer;
    color: #007bff; /* Set the button color */
    border: none;
    background: none;
}
