@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
<script src="~/js/switch_theme.js"></script>
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
